<body class="wallpaper">
  <%= simple_form_for [ @skill, @study_session] do |f| %>

<div class="video-wallpaper">
  <video muted loop id="background-video">
      <source src="<%= image_path("beach.mp4") %>" type="video/mp4">
    </video>
  <audio loop id="beach-sounds">
  <source src="<%= image_path("beach-sounds.wav") %>" type="audio/wav">
  </audio>
  <h2 class="animate__animated animate__fadeInDown text-white">Choose your skill and goal</h2>
  <div class="container" id="flex-body">
    <div class="card-style animate__animated animate__fadeInUp position" id="card">
      <div>
      </div>
      <div>
        <%= f.association :skill, collection: current_user.skills %>
        <%= f.input :goal, as: :text %>
        <%# end %>
      </div>
    </div>
    <div class="row">
      <div class="card-style animate__animated animate__fadeInUp d-none position" id="time-card">
        <div id="app-timer">
          <div class="app-timer-main">
            <h1>TIMER</h1>
            <h1 class="timer">00:00</h1>
            <br>
            <br>
            <br>
            <br>
            <div class="study_button start" ><span id="start">Start</span></div>
          </div>
          <br>
        </div>
      </div>
    </div>

    
    </div>
    <div id="one" style="display: none;">
          <div class="row">
            <div class="card-style animate__animated animate__fadeInUp animate__delay-1s position" id="submit-card">
              <h3>Nice work! Make a post so others can see your progress</h3>
              <div class="row justify-content-center">
                <div class="col-12">
                  <%#= simple_form_for [ @skill, @study_session ] do |f| %>
                    <%= f.text_area :description, label:"What did you accomplish?", class: "form-control form-control-lg" %>
                    <%= f.input :photo, label: "Add a photo to show what you did!", as: :file %>
                    <div id="hidden">
                      <%= f.input :end_time %>
                    </div>
                    <div class="submit-form">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                      <%= f.button :submit, "Share!", class: "btn btn-primary" %>
                    </div>


                </div>
              </div>
            </div>
          </div>
        </div>

  </div>

      <div class="finish-button">
        <div class="btn btn-primary" id="finish">Finish!</div>
      </div>

  <% end %>
  </body>
      
  </div>
  <div>Background audio track provided by <a href='https://noises.online' title='Noises.Online' target='_blank'>Noises.Online</a> under a <a href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0' target='_blank'>CC 3.0 BY</a> license.</div>
  <!--   create_table "study_sessions", force: :cascade do |t|
    t.string "goal"
    t.datetime "start_time"
    t.datetime "end_time"
    t.text "description"
    t.boolean "public", default: false
    t.bigint "skill_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["skill_id"], name: "index_study_sessions_on_skill_id"
  end -->
