
<body class="wallpaper">
  <div class="container">
    <h3>Nice work! Make a post so others can see your progress</h3>
    <div class="row justify-content-center">
      <div class="col-12">
        <%= simple_form_for [ @skill, @study_session ] do |f| %>
          <%= f.text_area :description, label:"What did you accomplish?", class: "form-control form-control-lg" %>
          <%= f.collection_radio_buttons :public, [[true, 'Public (Recommended)'] ,[false, 'Private']], :first, :last %>
          <%= f.input :photo, label: "Show us what you did!", as: :file %>
          <%= f.button :submit, "Share!", class: "small_button" %>
        <% end %>
      </div>
    </div>
  </div>
</body>








<!--   create_table "study_sessions", force: :cascade do |t|
    t.string "goal"
    t.datetime "start_time"
    t.datetime "end_time"
    t.text "description"
    t.boolean "public", default: false
    t.bigint "skill_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["skill_id"], name: "index_study_sessions_on_skill_id"
  end -->
