<h1>PROFILE</h1>
<div class="flex-container">
  <!-- USERNAME AND SKILLS -->
  <div class="left-side">

    <div class="skills_card">
      <div class="container-profile">
        <div class="profile-name">
          <% if user_signed_in? && current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-profile-page", alt: "avatar-large" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-profile-page", alt: "avatar-large" %>
          <% end %>
          <h2><%= @user.username %></h2>
          <br>
          <h4>Skills</h4>
          <%= render "users/skill_bar", skills: @skills %>
          <%= link_to "Add new skill", new_user_skill_path(@user), id: "add_skill_button", class: "small_button" %>
        </div>
      </div>
    </div>

  </div>

    <!--   USER BADGES -->
    <div class="right-side">

      <div class="badges_card">
        <h4>Badges</h4>
        <ul>
          <% @badges.each do |badge| %>
            <li><%= badge[:skill] %> - <%= badge[:description] %>, on: <%= badge[:assigned] %></li>
          <% end %>
        </ul>
      </div>

    <!-- LASTEST POSTS & LINK TO STUDYSESSIONS#INDEX -->

      <div class="time_card">
        <h4>Latest post</h4>
        <div id="wrapper">
          <header class="cf">
            <!-- <img src="http://2016.igem.org/wiki/images/e/e0/Uclascrolldown.png" class="arrow" /> -->
            <p class="date">3 hr ago</p>
          </header>
          <p class="status">I've been studying for 13,165 hours!</p>
          <img class="img-content" src="https://dazedimg-dazedgroup.netdna-ssl.com/1280/azure/dazed-prod/1280/8/1288188.jpg" />
          <div class="action">
            <div class="like">
              <a href="#">
              <i class="far fa-heart fa-sm"></i>
              <p>Like</p>
              </a>
            </div>
          <div class="comment">
          <a href="#">
          <i class="far fa-comments fa-sm"></i>
          <p>Comment</p>
          </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<br>
