<h1>PROFILE</h1>
<div class="flex-container">

  <div class="profile_card">
    <div class="container-profile">
      <div class="profile-name">
  <!--       <h1><%= @user.first_name %><%= @user.last_name %></h1>
   -->      <h2><%= @user.username %></h2>
        <br>
  <!--       <h3>Summary</h3>
   -->      <p>Days Studied: 21</p>
        <p>Last Day studied: Yesterday</p>
        <p>Last Subject Studied: Coding</p>
      </div>
    </div>
  </div>

  <div class="profile_card">
      <% @skills.each do |skill| %>
      <div class="skill_bar">
        <div class="info">
          <span><%= link_to skill.name, skill_path(skill) %> (Level: <%= skill.level %>, Points: <%= skill.points %>)</span>
        </div>
        <div class="progress-line"><span></span></div>
      </div>
      <% end %>
      <%= link_to "Add new skill", new_user_skill_path(@user)%>
  </div>
<!--
  This is the badges card!
  <div class="profile_card">
    <h3>Badges</h3>
      <ul>
        <% @badges.each do |badge| %>
          <li><%= badge[:skill] %> - <%= badge[:description] %>, on: <%= badge[:assigned] %></li>
        <% end %>
      </ul>
  </div> -->


  <%#
  <br>
  <div id="app-timer">
    <div class="container">
      <div class="app-timer-main">
        <h1>TIMER</h1>
        <h1 class="timer">00:00:00</h1>
        <button class="study_button start"><span>Start</span></button>
        <%# <button class="btn btn-warning stop">Stop</button>
        <button class="btn btn-primary reset">Reset</button> %>
  <%# </div>
    </div>
  </div> %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="study-button">
  <%= link_to "Start Studying", new_study_session_path, class: "btn btn-primary" %>
</div>
