<div class="container-show">
  <h1>PROFILE</h1>
  <div class="flex-container">
    <!-- USERNAME AND SKILLS -->
    <div class="left-side">
      <div class="container-profile">
        <div class="profile-name">
          <% if user_signed_in? && current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-profile-page", alt: "avatar-large" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-profile-page", alt: "avatar-large" %>
          <% end %>
          <h2><%= @user.username %></h2>
        </div>
      </div>
      <div class="skills_card">
        <div class="skills-card-title">
          <h4>Skills</h4>
          <%= link_to "+", new_user_skill_path(@user), class: "btn btn-primary" %>
        </div>
        <%= render "users/skill_bar", skills: @skills %>
      </div>
    </div>
    <!--   USER BADGES -->
    <div class="right-side">
      <div class="container-right">
        <div class="badges_card">
          <h4>Badges</h4>
          <div class="badges">
            <% @badges.first(4).each do |badge| %>
              <div class="single-badge">
                <%= image_tag badge[:image], style: "width: 88px;" %>
                <div class="info-window">
                  <p><%= badge[:skill] %> <br>
                    <%= badge[:description] %> <br>
                    <%= badge[:assigned] %></p>
                </div>
              </div>
            <% end %>
            <div style="width: 88px; background-color: lightgray; height: 88px; border-radius: 50%; border: 2px dashed black; margin: 16px; margin-left: 24px;"></div>
          </div>
        </div>
      </div>
      <!-- LASTEST POSTS & LINK TO STUDYSESSIONS#INDEX -->
      <!--     <div class="time_card">
        <h4>Latest post</h4>
        <div id="wrapper">
          <header class="cf">
            <p class="date">3 hr ago</p>
          </header>
          <p class="status">I've been studying for 13,165 hours!</p>
          <img class="img-content" src="https://dazedimg-dazedgroup.netdna-ssl.com/1280/azure/dazed-prod/1280/8/1288188.jpg" />
          <div class="action">
            <div class="like">
              <a href="#">
                <i class="far fa-heart fa-sm"></i>
                <p>Like</p>
              </a>
            </div>
            <div class="comment">
              <a href="#">
                <i class="far fa-comments fa-sm"></i>
                <p>Comment</p>
              </a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="post-container">
        <h4>Latest posts</h4>
        <div class="post-cards">
          <% @user.study_sessions.reverse.first(4).each_with_index do |post, index| %>
            <!-- Carousel Posts -->
            <div class="post-card">
              <!-- Header -->
              <header class="cf">
                <p class="date">
                  <% minutes = ((Time.now - post.created_at) / 60).to_i %>
                  <% if minutes.to_i == 0 %>
                  Just now
                  <% elsif minutes == 1 %>
                  <%= minutes %> minute ago
                  <% elsif minutes > 1 && minutes <= 60 %>
                  <%= minutes %> minutes ago
                  <% elsif minutes == 60 %>
                  <%= minutes %> hour ago
                  <% elsif minutes > 60 && minutes <= 1440 %>
                  <%= (minutes / 60) %> hours ago
                  <% elsif ( minutes / 1440) == 1  %>
                  1 day ago
                  <% else %>
                  <%= (minutes / 1440) %> days ago
                  <% end %>
                </p>
              </header>
              <!-- Post Description -->
              <p class="post-status"><%= post.description %></p>
              <% if user_signed_in? && post.photo.attached? %>
                <%= cl_image_tag post.photo.key, crop: :fill, class: "post-image" %>
              <% else %>
                <img class="post-image" src="https://london.ac.uk/sites/default/files/styles/promo_mobile/public/2020-04/sb-simone-image.jpg?itok=nAkc3CGk" />
              <% end %>
              <!-- Post Action Like/Comment only display -->
              <div class="action d-flex justify-content-between">
                <div class="like" id="like-<%= post.id %>">
                  <%= post.likes.count%>
                  <i class="far fa-heart fa-sm" id="like-heart"></i>
                </div>
                <div class="comment">
                  <%= post.comments.count%>
                  <i class="far fa-comments fa-sm"></i>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Closing container -->
    </div>
    <br>
  </div>
