<div class="content">
  <!-- Card - User Summary and Info -->
  <div class="user_show">
    <div class="card-show">
      <h1><%= @skill.name %>!</h1>
      <h5>Hours spent studying: 20</h5>
      <h5>Level: <%= @skill.level %></h5>
      <h4>Points: <%= @skill.points %></h4>
      <hr>
      <h4>Badges</h4>
      <div class="badges">
        <% @badge.each do |badge| %>
          <div class="single-badge">
            <%#= badge[:image] %>
            <%= image_tag "badge_01.png", style: "width: 88px;" %>
            <div class="info-window">
              <p><%= badge[:description] %> on: <%= badge[:assigned] %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <a class="small_button" id="start_button" href=<%= "/skills/#{params[:id]}/study_sessions/new"%>>
      <span>Start this study session</span>
    </a>
    <br>
    <%= link_to "Back to Profile", user_path(current_user), style: "color: black;"  %>
  </div>
  <!-- Card - Study Session Goals and Advice -->
  <div class="skill_show">
    <div class="summary-advice card-show">
      <div class="summary">
        <h5>Goals you have had:</h5>
        <!-- Conditional in case study sessions is nil -->
        <% if @skill.study_sessions.present? %>
          <a class="text_field" href="#">
            <span><%= @skill.study_sessions.last.goal %></span>
          </a>
        <% else %>
          <div class="text_field">
            <span>Have more study sessions!</span>
          </div>
        <% end %>
        <% if @skill.study_sessions.count >= 2 %>
          <a class="text_field" href="#">
            <span><%= @skill.study_sessions.sample.goal %></span>
          </a>
        <% else %>
          <div class="text_field">
            <span>Fill this with goals!</span>
          </div>
        <% end %>
      </div>
      <!-- Advice column -->
      <div class="advice">
        <h5>If you are stuck, consider:</h5>
        <a class="text_field" href="#">
          <span>Host Project on Heroku</span>
        </a>
        <a class="text_field" href="#">
          <span>Pair Program w/ Friend</span>
        </a>
      </div>
    </div>
    <!-- Card - Milestones -->
    <div class="milestones card-show">
      <h2><%= @skill.name %> milestones!</h2>
      <div>
        <% @skill.milestones.each do |milestone| %>
          <ul>
            <li class=<%="#{'complete' if milestone.complete_date}"%>><%= milestone.goal %> <%= milestone.complete_date ? milestone.complete_date.strftime("%b %d, %Y") : button_to("done?", "/milestones/#{milestone.id}/complete", method: :patch, form_class: "done") %></li>
          </ul>
        <% end %>
        <!-- These are the text fields for setting milestones, etc. -->
        <a class="text_field" href=<%="/skills/#{params[:id]}/milestones/new"%>>
          <span>Add a new milestone</span>
        </a>
      </div>
    </div>
  </div>
</div>