<div class="content">
  <!-- Card - User Summary and Info -->
  <div class="user_show">
    <div class="card-show card-height">
      <h1><%= @skill.name %>!</h1>
      <h5>Hours spent studying: 20</h5>
      <h5>Level: <%= @skill.level %></h5>
      <h4>Points: <%= @skill.points %></h4>
      <hr>
      <h4>Badges</h4>
      <div class="badges">
        <% @badge.each do |badge| %>
          <div class="single-badge">
            <%= image_tag badge[:image], style: "width: 88px;" %>
            <div class="info-window">
              <p><%= badge[:description] %> on: <%= badge[:assigned] %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Card - Study Session Goals and Advice -->
  <div class="skill_show">
    <div class="summary-advice card-show">
      <div class="summary">
        <h5>Goals you have had:</h5>
        <!-- Conditional in case study sessions is nil -->
        <% if @skill.study_sessions.present? %>
          <div class="text_field">
            <span><%= @skill.study_sessions.last.goal %></span>
          </div>
        <% else %>
          <div class="text_field">
            <span>Have more study sessions!</span>
          </div>
        <% end %>
        <% if @skill.study_sessions.count >= 2 %>
          <div class="text_field">
            <span><%= @skill.study_sessions.sample.goal %></span>
          </div>
        <% else %>
          <div class="text_field">
            <span>Fill this with goals!</span>
          </div>
        <% end %>
      </div>
      <!-- Advice column -->
      <div class="advice">
        <h5>If you are stuck, consider:</h5>
        <div class="text_field">
          <span>Host Project on Heroku</span>
        </div>
        <div class="text_field">
          <span>Pair Program w/ Friend</span>
        </div>
      </div>
    </div>
    <!-- Card - Milestones -->
    <div class="milestones card-show">
      <h2><%= @skill.name %> milestones!</h2>
      <div>
        <% @skill.milestones.each do |milestone| %>
          <ul>
            <li class=<%="#{'complete' if milestone.complete_date}"%>><%= milestone.goal %> <%= milestone.complete_date ? milestone.complete_date.strftime("%b %d, %Y") : link_to("/milestones/#{milestone.id}/complete", method: :patch, form_class: "done") do %><i class="fas fa-check fontawesome-small"></i><% end %></li>
          </ul>
        <% end %>
        <!-- These are the text fields for setting milestones, etc. -->
        <a class="text_field" href=<%="/skills/#{params[:id]}/milestones/new"%>>
          <span>Add a new milestone</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="button-center">
  <a class="btn btn-primary" href=<%= "/skills/#{params[:id]}/study_sessions/new"%>>
    <span>Start this study session</span>
  </a>
  <br>
  <br>
  <%= link_to "Back to Profile", user_path(current_user), style: "color: white;", class: "btn btn-primary", id: "profile-button" %>
</div>