<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "LVLUP_newlogo.png" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="align-items: center;">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Start Studying", new_study_session_path, class: "nav-link"%>
        </li>
        <li><%= link_to "Profile", user_path(current_user), class: "nav-link"%></li>
        <li class="nav-item dropdown" style="margin-left: 24px;">
          <% if user_signed_in? && current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://emoji.slack-edge.com/T02NE0241/pduck_sitting/1ce9763b656f3135.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "Study Sessions!", study_sessions_path, class: "dropdown-item" %>
            <% else %>
              <%= link_to new_user_session_path, class: "dropdown-item"  %>
            <% end %>

           <% if user_signed_in? %>
           <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
           <% else %>]
            <%= link_to new_user_session_path %>
           <% end %>

            <% if user_signed_in?%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
              <%= link_to new_user_session_path %>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>